# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [1]:
#Some of the popular languages that Data Scientists use are:

my_ordered_list = {"Python", "Scala", "Julia"}
print(my_ordered_list)

{'Python', 'Julia', 'Scala'}

# Some of the popular languages that Data Scientists use are:

ordered list
- PYTHON
- SCALA
- JULIA

# Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

X = (3*4)+5
print(X)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

HtoM = 200/60
print(HtoM)

3.3333333333333335

#Objectives:

- learn arithmetic expressions
- Practice how to code in python language
- Produce relevant knowledge for the course
- list relevant languages for Data Science

## David Zamudio
Author